<template x-component="edition">
    <template x-if="type == 'edition' && edit == false">
        <div>
            <h1 class="text-2xl font-bold flex items-center gap-2" x-text="item.title"></h1>
            <hr class="my-4 border-t border-gray-300">

            <div class="grid grid-cols-12 gap-3">
                <div class="col-span-9">
                    <div class="prose"
                         x-html="applyDaisyUIStyling(marked.parse(item.beschrijving))"></div>
                </div>
                <div class="col-span-3">

                    <ul class="menu bg-base-200 rounded-box w-[100%] mb-5">
                        <li @click="navigate(next.id)"
                            x-show="next" x-cloak x-transition><a>Veurige: <span x-text="next.title"></span></a></li>
                        <li @click="navigate(prev.id)"
                            x-show="prev" x-cloak x-transition><a>Volgende: <span x-text="prev.title"></span></a></li>
                    </ul>

                    <img :src="`/content/${item.year}/poster.jpg`" />
                    <button class="btn btn-block btn-primary btn-outline mt-5"
                            x-show="item.video.length > 0" x-cloak x-transition
                            @click="localStorage[item.year] ? navigate(localStorage[item.year]) : navigate(item.video.at(0).id)">Opname</button>

                    <button @click="edit=true" class="btn btn-block btn-primary btn-outline my-5">
                        Heb jij een goede aanvulling?<br>Stuur ‘m op!
                    </button>
                    <div class="overflow-x-auto">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Medewerkers</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template x-for="name in medewerkers">
                                <tr>
                                    <td x-text="name"></td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </template>
</template>